@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Yesteryear&display=swap');

.container00 {
  background-image: url('../public/family.jpg');
  background-size: cover;
  width: 100%; 
  height: 100vh;
  /* border-bottom-right-radius: 5rem; */
}
.travel{
  font-family: "Yesteryear", cursive;
  color: white;

}
.logo{
  font-family: "Yesteryear", cursive;
  color: #DF6951;
  /* color: #c3c827; */

  font-size: 2rem;
}
.w-input{
  width: 30rem;
}
.overlay {
  width: 100%; 
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 5rem; 
}



.tripTitle {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Volkhov", serif;

  /* color: #DF6951; */
}
/* .auth{
  background-color: #DF6951;
  font-weight: bold;
} */

/* 
.serviceSection{
  background-image: url('../public/yyy.jpg');
  background-size: cover;

  padding: 30px;
  background-color: rgba(0, 0, 0, 0.4);
} */

.footer{
  background-color: #DF6951;
}
.bg-time{
  background-color: #DF6951;  
}

.services-title{
  font-weight: bold;
  font-size:2rem;
  font-family: "Volkhov", serif;
}
.message {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 2px white;
}
.btn-auth{
  background-color: #DF6951;
  color: white;
}
.img-cont{
 
  border-radius: 50%;

}
.img-cont img{
  width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 50%;
}
.welcomeTitle{
  font-weight: bold;
  font-size:2rem;
  font-family: "Volkhov", serif;
}