
.container0{
  background-image: url('../public/family.jpg');
  background-position:center ;
  width:100vw;
  height: 100vh;
 
}
.message{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 2px white;
}
