@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Yesteryear&display=swap');


:root {
  --hover-easing: cubic-bezier(0.23, 1, 0.32, 1);
  --return-easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.bg-sky{
  background-color: rgb(218, 238, 246);
}


/* css of success reservation */
/* .bg-landingpage{
  background-image: url('../public/family.jpg');
  background-color: black;
} */
.bg-success-msg{
  background-color: #ece4e4;
  height: 100vh;
}
#card {
  position: relative;
  top: 110px;
  width: 320px;
  display: block;
  margin: auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#upper-side {
  padding: 2em;
  background-color: #8BC34A;
  display: block;
  color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#checkmark {
  font-weight: lighter;
  fill: #fff;
  margin: -3.5em auto auto 20px;
}

#status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-top: -.2em;
  margin-bottom: 0;
}

#lower-side {
  padding: 2em 2em 5em 2em;
  background: #fff;
  display: block;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#message {
  margin-top: -.5em;
  color: #757575;
  letter-spacing: 1px;
}

#contBtn {
  position: relative;
  top: 1.5em;
  text-decoration: none;
  background: #8bc34a;
  color: #fff;
  margin: auto;
  padding: .8em 3em;
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  -webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
}

#contBtn:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
}


/* end ss of success reservation */

body {
  margin: 40px 0;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  /* background-color: #BCAAA4; */
  -webkit-font-smoothing: antialiased;
}

.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

p {
  line-height: 1.5em;
}

h1+p,
p+p {
  margin-top: 10px;
}

.container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:hover .card-info {
  transform: translateY(0);
}

.card-wrap:hover .card-info p {
  opacity: 1;
}

.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
  transition: 0.6s var(--hover-easing);
}

.card-wrap:hover .card-info:after {
  transition: 5s var(--hover-easing);
  opacity: 1;
  transform: translateY(0);
}

.card-wrap:hover .card-bg {
  transition: 0.6s var(--hover-easing), opacity 5s var(--hover-easing);
  opacity: 0.8;
}

.card-wrap:hover .card {
  transition: 0.6s var(--hover-easing), box-shadow 2s var(--hover-easing);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, rgba(255, 255, 255, 1) 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;

  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  /* flex: 0 0 240px; */
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s var(--return-easing);
}

.card-bg {
  /* opacity: 0.5; */
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s var(--return-easing), opacity 5s 1s var(--return-easing);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info p {
  opacity: 0;
  text-shadow: rgba(0, 0, 0, 1) 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
  position: relative;
  z-index: 1;
}

.card-info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s var(--return-easing);
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}
/* body{

    background-image: url('https://source.unsplash.com/1L71sPT5XKc');
    color: white;

} */

.container00 {
  background-image: url('../public/family.jpg');
  background-size: cover;
  width: 100%; 
  height: 100vh;
  /* border-bottom-right-radius: 5rem; */
}
.travel{
  font-family: "Yesteryear", cursive;
  color: white;

}a
.logo{
  font-family: "Yesteryear", cursive;
  color: #DF6951;
  /* color: #c3c827; */
  /* color: #ba3e25; */

  font-size: 2rem;
}
.bg-color-btn{
  background-color: #DF6951;

}
.w-input{
  width: 30rem;
}
.overlay {
  width: 100%; 
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 5rem; 
}



.tripTitle {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Volkhov", serif;

  /* color: #DF6951; */
}
/* .auth{
  background-color: #DF6951;
  font-weight: bold;
} */

/* 
.serviceSection{
  background-image: url('../public/yyy.jpg');
  background-size: cover;

  padding: 30px;
  background-color: rgba(0, 0, 0, 0.4);
} */
.A{
  transform: translateX(-100%);
 
  
}
.A img{
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.B{
  transform: translateX(0%)
}
.C{
  transform: translateX(100%)
}
.slider {
  width: 200px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slide-ana {
  height: 360px;
}

.slide-ana > div {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.7s;
}

@media (min-width: 200px) and (max-width: 639px) {
  .slider {
    height: 300px;
    width: 170px;
  }
}
.footer{
  background-color: #DF6951;
}
.bg-time{
  background-color: #DF6951;  
}

.services-title{
  font-weight: bold;
  font-size:2rem;
  font-family: "Volkhov", serif;
}
.message {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 2px white;
}
.btn-auth{
  background-color: #DF6951;
  color: white;
}
.img-cont{
 
  border-radius: 50%;

}
.img-cont img{
  width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 50%;
}
.welcomeTitle{
  font-weight: bold;
  font-size:2rem;
  font-family: "Volkhov", serif;
}